 .bg {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -999;
        }
        .bg img {
            min-height: 100%;
            min-width: 1000px;
            width: 100%;
        }

        @media screen and (max-width: 1000px) {
            img.bg {
                left: 50%;
                margin-left: -500px;
            }
        }
        
        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
          }


          .pics img{
            -webkit-transition: opacity 1s ease-in-out;/*給基於webkit技術的瀏覽器;圖片不透明2秒,漸漸採取*/
            -moz-transition: opacity 1s ease-in-out;/*mozilla firefox瀏覽器*/
            -o-transition: opacity 1s ease-in-out;/*opear瀏覽器*/
            transition: opacity 1s ease-in-out;/*除了以上之外的瀏覽器*/
            
        }
          .clearfix img:first-child:hover{
            opacity: 0;
          }