*{
    background: url(/IOT/mypicture/layout_bg.gif);
    margin: 2px;
    padding: 2px;
    font-family: Microsoft JhengHei;
}
.program{
    font-size: x-large;
    text-align: center;
    color: #a707f1c9;
}
.p2{
    font-size: large;
    color: #d30df5;
    font-family: DFKai-sb;
}
.p1{
    text-decoration: underline red dotted;
}
#img1{
    float: right;
    clear: both;
    max-width: 500px;
}
.main{
    display: flex;
  /* 水平置中 */
  justify-content: center;    
  /* 垂直置中 */
  align-items: center; 
  /*flex的概念是 會有一個容器(container)包住物件(item)，然後可以控制內部物件的排版方式。
    → 所有的 內容物(item) 都是 彈性物件(flex item)。
    缺點是相容性問題，IE6~9、Opera10~11.5都不支援flex。*/
    
}
#footer{
    text-align:center;/*字體置中*/
    color: salmon;
    line-height: 20px;
    font-size: small;
    clear: both;
}

@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Chocolate+Classical+Sans&family=LXGW+WenKai+Mono+TC&family=LXGW+WenKai+TC:wght@300&family=Noto+Serif+TC&display=swap');
.p1 {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 300;
    font-style: normal;
  }
  